html,body{
    height: 100%;
    width: 100%;
}

.button{
    width: 60px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;  
}
.button:hover{
    background-color: gray;
}
.row{
    margin: 8px 0 ;
}
.row input{
    font-size: 20px;
    padding: 8px 10px;
    margin: 6px 6px;
    border: solid black;
    border-radius: 9px;
}